:root {
  --fondo-principal: url("../assets/imagenes/mujerescocechando.jpeg");
  --color-sec1: #000000;
  --color-texto: #ffffff;
  --fondo-formulario: #0000006e;
  --color-botones: #ffffff;
  --cuadro-selecInput: rgba(0, 0, 0, 0.39);
  --borde-form: #888888;
  --fondo-explica-donacion: #d48618;
  --tiulo-feriado: #ffff;
  --tarjeta-feriado: #515151;
  --fondo-parrafo: #151212;
}

body.modo-claro {
  --fondo-principal: url("../assets/imagenes/mujeres.modoclaro.jpg");
  --color-sec1: #ffffff;
  --color-texto: #000000;
  --fondo-formulario: #ffffff;
  --color-botones: #000000;
  --fondo-explica-donacion: #ff9a0d;
  --borde-form: #000000;
  --cuadro-selecInput: rgb(230, 230, 230);
  --tiulo-feriado: #515151;
  --tarjeta-feriado: rgb(184 186 134);
  --fondo-parrafo: #e8e0e0;
}

.toggleModo {
  font-size: 30px;
  position: fixed;
  top: 120px;
  left: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.toggleModo i {
  color: var(--color-botones);
  transition: color 0.3s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/*body con imagen de fondo en la pagina de calculadora*/
.bodyCalculadora {
  background-image: var(--fondo-principal);
  color: var(--color-texto);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;

  transition:
    background-image 0.5s ease,
    background-color 0.5s ease,
    color 0.5s ease;
}

.info1 {
  display: none;
}

/*body con imagen de fondo en el home*/
.bodyHome {
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

/*estilo del logo*/
.logo {
  height: 100px;
  width: auto;
  border-radius: 10px;
  margin-left: 40px;
}

/*estilo del header*/
.header {
  background-color: rgb(4, 4, 4);
  box-shadow: hsl(0, 0%, 0%) 0px 0px 10px;
  display: flex;
  align-items: right;
  position: relative;
  justify-content: space-between;
  font-size: 10px;
}

/*estilo de la barra de navegacion*/
.nav {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  padding: 20px;
  font-family: "verdana";
}

/*Estilo de los enlaces de navegación*/
.nav a {
  position: relative;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 20px;
  font-size: 18px;
  font-family: "verdana";
  background: #ffffff;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(4, 4, 4, 4) 1%
  );
  transition: color 0.3s;
}

/* estilo de info, rubros y contacto */
.nav__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0;
}

.nav__links > li {
  position: relative;
}

/*ocultar los submenus*/
.nav__links ul {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  flex-direction: column;
  z-index: 10;
  border-radius: 5px;
  top: 100%;
  min-width: 100px;
}

/*ancho minimo para mostrar info*/
.nav__links .info {
  min-width: 250px;
}

/* estilo de los enlaces dentro de los submenus*/
.nav__links ul li a {
  display: block;
  padding: 12px 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}

/*mostrar submenu al hover*/
.nav__links li:hover ul {
  display: block;
  background-color: rgb(0, 0, 0);
  top: 40px;
  left: 0;
  border-radius: 5px;
  box-shadow: #000000 0px 0px 10px;
}

/*estilo de la primer seccion del home*/
.sec1 {
  display: flex;
  background-color: var(--color-sec1);
  justify-content: flex-end;
}

.div2-seccion1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.imagenPrincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  background-image: url("../assets/imagenes/bandera-argentina.png");
  mask-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, transparent);
}

/*estilo de la imagen de la primer seccion del home*/
.imgSec1 {
  mask-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, transparent);
  max-height: 600px;
  margin: auto;
}

.div2-seccion1 {
  margin-right: 20px;
  margin-bottom: 20px;
}

.div-feriados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

#contenedor-feriados {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.titulo-feriados {
  font-size: 24px;
  color: var(--tiulo-feriado);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 10px;
}

.tarjeta-feriado {
  display: flex;
  flex-direction: column;
  background: var(--tarjeta-feriado);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  max-width: 165px;
  justify-content: space-between;
}

.fecha-badge {
  background: #2786d3;
  color: white;
  padding: 3px 8px;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #ffffff;
}

.feriado-nombre {
  margin-top: 10px;
  font-size: 14px;
  color: var(--color-texto);
}

.feriado-tipo {
  font-size: 18px;
  color: rgb(247, 255, 2);
  margin-top: 5px;
  text-align: center;
}

.dia-nombre {
  font-size: 18px;
  color: rgb(52, 105, 227);
  font-weight: bold;
  border-radius: 5px;
  padding: 3px 8px;
  background: rgb(255, 255, 255);
  margin-top: 2px;
}

.faltan-dias {
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 5px;
  padding: 3px 8px;
  background: #2786d3;
  margin-top: 2px;
  border: 1px solid #ffffff;
}

/*estilo del h1*/
.h1-home {
  font-size: 50px;
  color: var(--color-texto);
  text-align: center;
  margin-top: 35px;
  margin-bottom: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 415px;
}

.h1-calculadora {
  color: var(--color-texto);
}
.h1-salario {
  color: var(--color-texto);
}
.h1-indemnizacion {
  color: var(--color-texto);
}

/*estilo del parrafo debajo del h1*/
.parrafoSec1 {
  font-size: 20px;
  color: var(--color-texto);
  text-align: center;
  margin-top: -20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*estilo del enlace para ir a la calculadora*/
.irAcalcular {
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  padding: 15px 25px;
  border: 2px solid var(--borde-form);
  border-radius: 10px;
  box-shadow: #000000 0px 0px 10px;
  background-color: rgb(64, 117, 224);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition:
    background-color 0.3s,
    color 0.3s;
  align-items: center;
  position: 50%;
  margin-top: 20px;
}

.irAindemnizacion {
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  padding: 15px 25px;
  border: 2px solid var(--borde-form);
  border-radius: 10px;
  box-shadow: #000000 0px 0px 10px;
  background-color: rgb(212, 35, 35);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition:
    background-color 0.3s,
    color 0.3s;
  align-items: center;
  position: 50%;
  margin-top: 20px;
}

/*estilo del boton para descargar la app*/
.botonDescargar {
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  padding: 15px 25px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
}

/* parenesis para el texto (Solo Android) */
.soloAndroid {
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-left: 10px;
}

/*contenedor hijo de la segunda seccion del home*/
.sec2 {
  background-color: #3a6bba;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  align-items: center;
  max-width: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 100px;
  padding-bottom: 50px;
  padding-top: 50px;
  border-radius: 60px;
}

/*contenedor del primer ejemplo*/
.div-ejemplo1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*contenedor del segundo ejemplo*/
.div-ejemplo2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.div-ejemplo3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/*h2 (Como se usa?) del la segunda seccion del home*/
.h2-seccion2 {
  background-color: #3a6bba;
  max-width: 450px;
  margin: auto;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*estilo del parrafo de la segunda seccion del home*/
.parrafoSec2 {
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  max-width: auto;
  align-items: center;
  display: flex;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.divInfo1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.boonCalcular {
  max-width: 200px;
  max-height: 300px;
}

/*estilo de la palabra "Items"*/
small {
  font: lighter 20px "Franklin Gothic Medium";
  font-size: 20px;
  color: var(--color-texto);
  text-align: center;
  background: #ffffff00;
}

/*estilo de la palabra "detalle"*/
.resultado small {
  font: lighter 20px "Franklin Gothic Medium";
  font-size: 20px;
  color: var(--color-texto);
  text-align: left;
  background: #ffffff00;
}

/*estilo de las lineas divisorias*/
hr {
  height: 2.4px;
  background: var(--color-texto);
  margin: 10px 0;
}

/*estilo de la palabra "Detalle de tu sueldo"*/
.resultado2 {
  font: lighter 20px "Franklin Gothic Medium";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.525);
  text-align: right;
  margin-bottom: 10px;
  background: #ffffff00;
}

/*estilo del contenedor principal main*/
.principal {
  align-self: start;
  min-width: auto;
  max-width: 1200px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 20px;
  position: relative;
  display: grid;
  grid-template-columns: 489px 480fr;
  grid-template-rows: auto auto auto;
  gap: 30px;
  padding: 20px;
  align-items: start;
}

/* Todo el cuadro de categoria, antiguedad, secundario, vinos, mes, horas extra, obra social */
.items {
  display: flex;
  flex-direction: column;
  color: var(--color-texto);
  background-color: var(--fondo-formulario);
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid var(--borde-form);
  text-align: left;
  background-color: #0000006e;
  backdrop-filter: blur(12px);
  font-family: "verdana";
  box-shadow: #000000 0px 0px 10px;
  max-height: auto;
  max-width: 450px;
  padding: 20px;
  background-color: var(--fondo-formulario);
  transition: background-color 0.5s ease;
}

.tipoDeOperario {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin-bottom: 10px;
}

.btnTemp {
  color: rgb(5, 139, 14);
  font-size: 20px;
  border-radius: 5px;
  border: solid 3px rgb(5, 139, 14);
  padding: 5px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.btnTemp:hover {
  background: #19b501;
  color: #ffffff !important;
  transition: all 0.1s ease;
}

.btnMnsual {
  background: rgb(36, 53, 180);
  color: rgb(36, 53, 180);
  font-size: 20px;
  border-radius: 5px;
  border: solid 3px rgb(36, 53, 180);
  padding: 5px;
  background-color: rgb(252, 253, 255);
  cursor: pointer;
}

.btnMnsual:hover {
  background: rgb(36, 53, 180);
  color: #ffffff !important;
  transition: all 0.1s ease;
}

/* Estado encendido fijo para el botón VERDE */
.btnTemp.activo {
  background: #19b501;
  color: #ffffff !important;
}

/* Estado encendido fijo para el botón AZUL */
.btnMnsual.activo {
  background: rgb(36, 53, 180);
  color: #ffffff !important;
}

.mesOpcion {
  display: none;
  padding-bottom: 10px;
}

.compartirWhatsApp {
  display: flex;
  text-decoration: none;
  flex-direction: row;
  text-align: left;
  align-items: center;
  justify-content: center;
  justify-items: center;
  max-height: 410px;
  max-width: 480px;
  padding: 20px;
  position: relative;

  font-size: 20px;
  border-radius: 10px;
  border: 2px solid var(--borde-form);
  background-color: var(--fondo-formulario);
  backdrop-filter: blur(12px);
  font-family: "verdana";
  box-shadow: #000000 0px 0px 5px;
}

.comparWhas {
  text-decoration: none;
  list-style: none;
  color: var(--color-texto);

  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.aDonacion {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;
  justify-items: center;
  max-height: 410px;
  max-width: 480px;
  padding: 20px;
  position: relative;

  background-color: #ffa700eb;
  backdrop-filter: blur(12px);
  font-family: "verdana";
  box-shadow: #000000 0px 0px 10px;
  color: var(--color-texto);
  font-size: 25px;
  border-radius: 10px;
  border: 2px solid var(--borde-form);
}

.iconoW {
  height: 50px;
  width: auto;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

#horasEx50 {
  color: var(--color-texto);
  background-color: var(--cuadro-selecInput);
  border-radius: 5px;
  border: solid 1px var(--borde-form);

  margin-left: 10px;
  font-size: 20px;
  padding: 5px;
}

#horasEx100 {
  background-color: var(--cuadro-selecInput);
  color: var(--color-texto);

  font-size: 20px;
  border-radius: 5px;
  border: solid 1px var(--borde-form);
  padding: 5px;
  margin-left: 0px;
  margin-top: 5px;
}

.resultado1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--color-texto);
}

#resultado hr {
  border: none;
  height: 1px;
  background-color: var(--color-texto);
  width: 100%;
  margin: 15px 0;
}

/* cuadro de resultado */
#resultado {
  background-color: var(--fondo-formulario);
  border: 2px solid var(--borde-form);
  backdrop-filter: blur(12px);
  color: var(--color-texto);
  border-radius: 10px;
  box-shadow: #000000 0px 0px 10px;
  font-size: 1.2em;
  font-family: "verdana";

  max-width: 480px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.ant,
.Sec,
.mes,
.horasEx {
  padding-bottom: 10px;
}

.anticipo {
  padding-bottom: 10px;
}

#anticipo {
  padding: 20px;
  color: var(--color-texto);
  font-size: 20px;
  border-radius: 5px;
  border: solid 1px var(--borde-form);
  padding: 5px;
  background-color: var(--cuadro-selecInput);
}

/* ingreso oculto si la opcion es NO */
.horasTrabajadas {
  display: none;

  padding-bottom: 10px;
}

#horasTrab {
  padding: 20px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  background-color: #ffffff4f;
}

/* Opciones del mes completo, hs extras, retiro vino, opciones vino1 y 2, antiguedad y categorias*/
#opcionesMes,
#horasExtras,
#opcionesAnt,
#fechaInicio,
#fechaFin,
#tipoDespido {
  font-weight: 10;
  color: var(--color-texto);
  font-size: 20px;
  text-align: left;
  background-color: var(--cuadro-selecInput);
  font-family: "verdana";
  border-radius: 5px;
  border: solid 1px var(--borde-form);
  max-width: 80%;
  gap: 0px;
}

#opcionesCat {
  font-weight: 10;
  color: var(--color-texto);
  font-size: 20px;
  text-align: left;
  background-color: var(--cuadro-selecInput);
  font-family: "verdana";
  border-radius: 5px;
  border: solid 1px var(--borde-form);
  max-width: 290px;
}

#diasVacaciones {
  color: rgb(255, 255, 255);
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.39);
  max-width: 90px;
}

#ultimoSueldo {
  color: var(--color-texto);
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
  background-color: var(--cuadro-selecInput);
  max-width: 130px;
}

#dias-suspencion {
  padding: 20px;
  color: var(--color-texto);
  font-size: 20px;
  border-radius: 5px;
  border: solid 1px var(--borde-form);
  padding: 5px;
  background-color: var(--cuadro-selecInput);
}

.secundarioDiv {
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px;
}

.secundario {
  padding-bottom: 10px;
}

.mesDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mesCompleto {
  padding-bottom: 10px;
  margin: 5px;
}

#enNegro {
  color: var(--color-texto);
  margin-left: 10px;
  padding-top: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: solid 1px var(--borde-form);
  padding: 5px;
  background-color: var(--cuadro-selecInput);
  max-width: 500px;
}

.labelVacacionesDeuda {
  display: flex;
  justify-content: space-between;
  display: none;
  padding-bottom: 10px;
}

.totalFinal {
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(90deg, #ffffff 0%, #8084f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
  padding: 20px;
}

/* div del btn calcular */
.calcular {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* boton para calcular */
.btnCalc {
  font-size: 20px;
  text-align: center;
  background: #000000;
  background: linear-gradient(
    326deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(189, 189, 189, 1) 100%
  );
  font-family: "verdana";
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 0px #000000;
  border-radius: 25px;
  cursor: pointer;
  padding: 20px;
}

.btnCalc:hover {
  background: linear-gradient(
    326deg,
    rgb(81, 0, 255) 0%,
    rgb(16, 27, 243) 50%,
    rgb(78, 93, 255) 100%
  ); /* ✅ Usa gradiente en lugar de background-color */

  color: #ffffff !important;
  transition: all 0.3s ease; /* ✅ Transición suave */
}

.labelsIndem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--color-texto);
  font-size: 20px;
  text-align: left;
  font-family: "verdana";
  max-height: auto;
  padding: 10px;
  padding-left: 0px;
  gap: 0px;
}

.resultadoIndem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  max-height: auto;
  padding: 10px;

  font-family: "verdana";
  color: rgb(255, 255, 255);
  font-size: 20px;
  border: 2px solid var(--borde-form);
  background-color: var(--fondo-formulario);
  backdrop-filter: blur(12px);
  border-radius: 10px;
  box-shadow: #000000 0px 0px 10px;
}

.resultadoIndem small {
  display: flex;
  justify-content: center;
}

.resultado1 p {
  margin: 0px;
  color: var(--color-texto);
}

.resultadoFinal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 8px;
}

.tituloTotal {
  font-size: 20px;
  color: var(--color-texto);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.tituloEnPesos {
  font-size: 20px;
  color: var(--color-texto);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.tituloEnReales {
  font-size: 20px;
  color: var(--color-texto);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.tituloEnDolares {
  font-size: 20px;
  color: var(--color-texto);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.tituloEnChilenos {
  font-size: 20px;
  color: var(--color-texto);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.numeroPesos {
  font-size: 25px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border-radius: 10px;
  padding: 3px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.numeroDolares {
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: #19b501;
  border-radius: 10px;
  padding: 3px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.numeroReal {
  font-size: 20px;
  color: rgb(0, 0, 0);
  background-color: #fff700;
  border-radius: 10px;
  padding: 3px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.numeroChileno {
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: #ff0000;
  border-radius: 10px;
  padding: 3px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.resultEnMonedas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

/* Barra de dezplazamiento para los select */
select::-webkit-scrollbar {
  width: 8px;
  background: #000000;
}

select::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 6px;
}

select::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.compartir_y_btnPDF {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  gap: 10px;
}

.div-donacion {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

/* Estilo para el botón de sugerencias */
.div-sugerencias {
  bottom: 150px;
  right: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  position: fixed;
  align-items: center;
  flex-direction: row-reverse;
}
.div-sugerencias svg {
  width: 50px;
  height: 45px;
  color: var(--color-texto);
}
.formularioSugerencias {
  display: none;
  flex-direction: column;
  color: var(--color-texto);
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid var(--borde-form);
  text-align: left;
  background-color: #ffffff6e;
  backdrop-filter: blur(12px);
  font-family: "verdana";
  box-shadow: #000000 0px 0px 10px;
  max-height: 410px;
  max-width: 480px;
  padding: 20px;
}
.formularioSugerencias small {
  font-size: 20px;
  color: var(--color-texto);
  text-align: center;
  background: #ffffff00;
}

.btnEnviar {
  font-size: 15px;
  text-align: center;
  background: #000000;
  background: linear-gradient(
    326deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(189, 189, 189, 1) 100%
  );
  font-family: "verdana";
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 0px #000000;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #0f0f0f;
  color: #919090;
  font-family: "verdana";
  margin: 0;
  width: 100%;
  box-shadow: #000000 0px 0px 10px;
}

.logoFooter {
  height: 50px;
}

.footerText {
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px;
}

.svgGmail,
.svgLink {
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.svgGmail {
  margin-right: 10px;
}

.btnPDF {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  font-size: 20px;
  font-family: "verdana";
  max-height: 410px;
  max-width: 480px;
  padding: 20px;
  position: relative;
  text-align: left;
  align-items: center;
  justify-content: center;
  justify-items: center;

  background-color: var(--fondo-formulario);
  backdrop-filter: blur(12px);
  color: var(--color-texto);
  border: 2px solid var(--borde-form);
  box-shadow: #000000 0px 0px 5px;
}

#divPDF {
  display: flex;
  flex-direction: column;
  width: 100%; /* Obliga al div a usar todo el ancho de la "foto" */
  margin: 0; /* Elimina cualquier centrado automático que lo empuje a la derecha */
  padding: 10px; /* Dale un pequeño respiro para que las letras no choquen con el borde */
  box-sizing: border-box; /* Evita que el padding agrande el div más del 100% */
}

/* Estilo para PDF */
/* Estilo para PDF */
@media print {
  .no-pdf {
    display: none !important;
  }

  #divPDF {
    background: white !important;
    color: #000000 !important;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
    padding: 30px !important;
    border-radius: 0 !important;
    width: 100% !important;
    height: auto !important;
    max-height: none !important;
    overflow: visible !important;
    display: block !important;
    position: relative !important;
  }

  #divPDF span,
  #divPDF p {
    color: black !important;
  }

  #divPDF hr {
    background-color: #ccc !important;
  }
}

/*Diseño responsivo*/
@media (max-width: 600px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
    margin: 0;
  }

  body {
    display: flex;
    flex-direction: column;
  }
  .sec1 {
    flex: 1;
    background-color: var(--color-sec1);
    display: flex;
    flex-direction: column;
  }

  .toggleModo {
    font-size: 35px;
    position: fixed;
    top: 110px;
    left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
  }

  .toggleModo i {
    color: var(--color-botones);
    transition: color 0.3s;
  }

  .imagenPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    background-image: url("../assets/imagenes/bandera-argentina.png");
    mask-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, transparent);
  }

  /*estilo de la imagen de la primer seccion del home*/
  .imgSec1 {
    mask-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, transparent);
    max-height: 600px;
    max-width: 100%;
  }

  .h1-home {
    font-size: 44px;
    margin-top: 30px;
    color: var(--color-texto);
  }

  .parrafoSec1 {
    background-color: var(--fondo-parrafo);
    color: var(--color-texto);
  }

  .info1 {
    display: block;
    background-color: #00000076;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 15px;
    padding: 20px;
    font-family:
      "Franklin Gothic Medium", "Arial Narrow", "Arial", "sans-serif";
  }

  .bodyCalculadora {
    background-image: var(--fondo-principal);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    box-sizing: border-box;
  }

  .bodyHome {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local; /* Otra alternativa para móviles */
    margin: 0px;
    width: 100%;
    padding: 0px;
  }

  header {
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: fixed;
  }

  /*estilo de la barra de navegacion*/
  .nav {
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 0px;
    font-family: "verdana";
    background-color: none;
  }

  .navInfo a {
    display: none;
  }

  .infoIndex {
    display: none;
  }

  .logo {
    margin-left: 5px;
  }

  .gmail {
    display: none;
  }

  .navInfo {
    display: none;
    padding: 10px;
    font-size: 6px;
  }

  .nav__links {
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0);
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: none;
  }

  /*se mueve al centro del submenu y se raslada hacia la izquierda*/
  .nav__links li:hover ul {
    top: 40px;
    left: 50%;
    transform: translateX(-90%);
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: #000000 0px 0px 10px;
    /* border-color: #ffffff; */
  }

  .div2-seccion1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }

  .div2-seccion1 {
    margin: 10px;
  }

  #contenedor-feriados {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
  }

  .div-feriados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: var(--cuadro-selecInput);
  }

  .titulo-feriados {
    font-size: 24px;
    color: var(--tiulo-feriado);
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-top: 10px;
  }

  .feriado-nombre {
    margin-top: 10px;
    font-size: 14px;
    color: var(--color-texto);
  }

  .feriado-tipo {
    font-size: 18px;
    color: rgb(247, 255, 2);
    margin-top: 5px;
    text-align: center;
    border-color: #000000;
  }

  .tarjeta-feriado {
    display: flex;
    flex-direction: column;
    background: var(--tarjeta-feriado);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    max-width: 124px;
    justify-content: space-between;
  }

  .principal {
    position: relative;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
    margin: auto;
    max-width: 100vw;
    width: 100%;
    padding: 30px;
    align-items: center;
    justify-items: center;
  }

  .items hr {
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    margin: 15px 0;
  }

  .items {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 95%;
    margin: 0;
    grid-column: 1;
    grid-row: 1;
    justify-content: space-between;
    align-items: center;

    color: var(--color-texto);
    font-size: 1.2em;
    border-radius: 10px;
    border: 2px solid var(--borde-form);
    background-color: var(--fondo-formulario);
    backdrop-filter: blur(15px);
    font-family: "verdana";
    box-shadow: #000000 0px 0px 10px;
  }

  .labelsIndem,
  .cat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    max-height: auto;
    padding: 10px;
    padding-left: 0px;
    gap: 0px;
    flex-direction: column;
    align-items: center;

    color: var(--color-texto);
    font-size: 20px;
    font-family: "verdana";
  }

  .compartirWhatsApp {
    color: var(--color-texto);
    font-size: 17px;
    border-radius: 10px;
    border: 2px solid var(--borde-form);
    background-color: var(--fondo-formulario);
    backdrop-filter: blur(12px);
    font-family: "verdana";
    box-shadow: #000000 0px 0px 5px;

    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    max-height: 410px;
    max-width: 480px;
    padding: 10px;
    position: relative;
  }

  .tipoDeOperario {
    margin-bottom: 0%;
    padding-top: 0%;
  }

  .br-sec {
    display: none;
  }

  .horasEx {
    padding: 0px;
  }

  .anticipo {
    padding-left: 0px;
  }

  .vinOPciones {
    padding-left: 0px;
  }

  .items small {
    font: lighter 20px "Franklin Gothic Medium";
    font-size: 1em;
    text-align: center;
    margin-bottom: 0px;
    background: #ffffff00;
  }

  .descuentos small {
    font: lighter 20px "Franklin Gothic Medium";
    font-size: 1em;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 0px;
    background: #ffffff00;
  }

  .descuentos {
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    border-radius: 10px;
    border: 1px solid #ffffff3f;
    text-align: center;
    background-color: #0000005c;
    backdrop-filter: blur(15px);
    font-family: "verdana";
    padding: 20px;
    width: 300px;
    box-shadow: #000000 0px 0px 10px;
    margin: 0;
    grid-column: 1;
    grid-row: 2;
    box-sizing: border-box;
  }

  .obras {
    padding-left: 0px;
    padding-bottom: 20px;
  }

  .vin {
    text-align: center;
  }

  #resultado {
    grid-row: 3;
    font-size: 1em;
    text-align: center;
    padding: 10px;
    width: 300px;
    margin: 0;
    border-radius: 12px;
    box-shadow: #000000 0px 0px 10px;
    background-color: var(--fondo-formulario);
    backdrop-filter: blur(15px);
    color: rgb(235, 234, 234);
    padding: 5px;
    padding-top: 20px;
    box-sizing: border-box;
    justify-content: center;
  }

  .resultadoIndem {
    color: rgb(235, 234, 234);
    font-size: 1em;
    border: var(--borde-form) 2px solid;
  }

  .resultado2 {
    font: lighter 20px "Franklin Gothic Medium";
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 0px;
    background: #ffffff00;
  }

  .totalFinal {
    font-size: 25px;
    padding: 10px;
    text-align: center;
  }

  select,
  input[type="number"],
  input[type="radio"] {
    font-size: 1em;
    box-sizing: border-box;
  }

  .calcular {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .btnCalc {
    width: 50vw;
    font-size: 1em;
    padding: 10px;
    margin: auto;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    box-shadow: 10px 8px 15px rgba(0, 0, 0, 0.3);
  }

  .comparWhas {
    text-decoration: none;
    list-style: none;
    color: var(--color-texto);

    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
  }

  .compartir_y_btnPDF {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 5px;
    max-width: 400px;
  }

  .btnPDF {
    font-size: 17px;
    padding: 5px;
    max-width: 180px;
  }

  .div-donacion {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  .aDonacion {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
    justify-items: center;
    max-height: 410px;
    max-width: 480px;
    padding: 10px;
    position: relative;

    text-decoration: none;
    color: var(--color-texto);
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid var(--borde-form);
    background: var(--fondo-explica-donacion);
    backdrop-filter: blur(12px);
    font-family: "verdana";
    box-shadow: #000000 0px 0px 10px;
  }

  .explica-donacion {
    margin: 3px;
    font: lighter 20px "Franklin Gothic Medium";
    font-size: 14px;
    color: var(--color-texto);
    text-align: center;
    background: var(--fondo-explica-donacion);
  }

  .div-sugerencias {
    bottom: 165px;
    right: 20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    position: fixed;
    align-items: center;
    flex-direction: row-reverse;
  }
  .div-sugerencias svg {
    width: 50px;
    height: 45px;
    color: var(--color-texto);
  }

  .footer {
    font-size: 0.8em;
    padding: 5px;
    margin: 0;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 30px;
    background-color: #0f0f0f;
    width: 100%;
  }

  .logoFooter {
    height: 50px;
  }
}
