body {
    background-color: #000000;
    background-image: url(imagenes/papTapiVino.jpg);
    background-size: 80px 80px ;
}

.h1{
    color: white;
    font-size: 50spx;
    text-align: left;
    background-color: rgb(0, 0, 0);
    font-family: 'fjalla one', sans-serif;
    margin-top: 0%;
}

.conth1{
    text-align: center;
    margin-bottom: 0px;
    background-color: rgb(0, 0, 0);
    box-shadow: #000000 0px 0px 10px;
    padding-bottom: 0%;
}

/* Todo el cuadro de categoria, antiguedad, secundario, vinos, mes, horas extra */
.cat, .ant, .Sec, .vin, .mes, .horasEx{
    color: rgb(255, 255, 255);
    font-size: 25px;
    border-radius: 10px;
    border-color: #ffffff;
    text-align: left;
    background-color: #96949439;
    backdrop-filter: blur(5px);
    font-family: 'verdana';
    padding: 10px;
    display: block;
    width: 50%;
    box-shadow: #000000 0px 0px 10px;
}

/* ingreso oculto si la opcion es NO */
.horasTrabajadas{
    display:none;
    background-color: #58585811;
    backdrop-filter: blur(5px);
}

/* Opciones del mes completo, hs extras, retiro vino, opciones vino1 y 2, antiguedad y categorias*/
#opcionesMes, #horasExtras, #opcionesRetiro, #opcionesVino, #opcionesVino2, #opcionesAnt, #opcionesCat{
    color: rgb(3, 3, 3);
    font-size: 20px;
    text-align: left;
    background-color: rgb(255, 255, 255);
    font-family: 'verdana';
}

/* boton para calcular */
.btnCalc{
    font-size: 30px;
    text-align: center;
    background-color:  rgb(0, 0, 0);
    font-family: 'verdana';
    padding: 10px;
    display: block;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: antiquewhite;
    color: white; 
    border-radius: 10px; 
    cursor: pointer; 
}

.btnCalc:hover {
    background-color: #99a702; 
    border-color: rgb(0, 0, 0);
    color: black;
    font-weight: bold;
}

/* cuadro de resultado */ 
#resultado {
    position: fixed;
    top: 100px;
    right: 40px;
    width: 500px;
    min-height: 100px;
    background-color: #58585861;
    backdrop-filter: blur(5px);
    color: rgba(255, 255, 255, 0.679);
    border-radius: 10px;
    box-shadow: 0 0 10px #0006;
    padding: 20px;
    font-size: 1.2em;
    font-family: 'verdana';
    z-index: 100;
}

.totalFinal{
    font-size: 50px;
    font-weight: bold;
    color: #c7d71a;
    margin-top: 10px;
}

/* Barra de dezplazamiento para los select */
select::-webkit-scrollbar {
    width: 8px;
    background: #e0e0e0;
}

select::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 6px;
}

select::-webkit-scrollbar-thumb:hover {
    background: #4051b5;
}

/*Diseño responsivo*/
@media (max-width: 600px ) {
    
    body{
        background-color: #2b0202;
    }
    .h1 {
        font-size: 1.6em;
        margin-top: 10px;
        text-align: center;
        margin-bottom: 20px;
    }
    .cat, .ant, .Sec, .vin, .mes, .horasEx {
        width: 95vw;
        text-align: center;
        margin: 0 auto 15px auto;
    }
    #resultado {
        font-size: 1em;
        padding: 12px;
        position: static;
        width: 95vw;
        margin: 20px auto 10px auto;
        border-radius: 12px;
        box-shadow: 0 2px 12px #0002;
        background-color: #58585861;
        backdrop-filter: blur(5px);
        color: white;
        padding: 5px 5px 5px 5px;;
        font-size: 1em;
    }
    select, input[type="number"], input[type="radio"] {
        font-size: 1em;
        max-width: 98vw;
    }
    .btnCalc {
        width: 90vw;
        font-size: 1em;
        padding: 10px 0;
        margin-left: 10px;
    }
}